.v-content
    &__auth
        &::after, &::before
            position: absolute
            content: ''
            display: block
            left: 0
            top: 0
            height: 100vh
            width: 100vw
            z-index: 1

        &::before
            background-color: rgba(0, 0, 0, 0.27)
    
        & ^[-1]__wrap
            z-index: 2
    
    &__wrap
        > .v-card
            min-height: 100%