.v-data-table
    &__progress
        > th
            position: relative

        .v-progress-linear
            position: absolute
            top: -1.5px
    
    thead
        th.datetime-field
            width: 169px

        th.date-field
            width: 128px
        
        th.gender-field
            width: 128px
        
        th.common-field
            width: 169px

        th.number-field
            width: 128px
        
        th.short-field
            width: 80px

        th.medium-field
            width: 80px
        
        th.pegawai-field
            width: 180px
        
        th.npsn-field
            width: 99px