.v-datatable
    &__message
        display: flex
        align-items: center
        justify-content: center
        height: 48px
    
    &__text
        padding-left: 8px
    
    &__progress
        .v-progress-linear
            position: absolute
    
    thead
        tr:not(.v-datatable__progress)
            height: 48px !important
            
        tr th
            &:first-child
                width: 80px

                + th
                    padding-left: 0
            
            .v-input--selection-controls
                width: 24px

            .v-input--selection-controls__input
                margin-right: 0

        th.date-updated
            width: 169px
        
        th.pricetag
            padding: 0 8px !important
            text-align: right
            width: 75px

        th.percentag
            text-align: right !important
            width: 97px
            padding: 0 8px !important
        
        th.countertag
            padding: 0 8px !important
            width: 68px

        th.icontag
            padding: 0 8px !important;
            width: 45px
    
    tbody
        tr td
            &:first-child
                width: 80px

                + td
                    padding-left: 0
        
        tr td p
            margin-bottom: 0

        tr td.icontag
            padding: 0 8px !important;
            text-align: center !important
            width: 45px

        tr td.percentag
            text-align: right !important
            padding: 0 24px 0 8px !important
        
        tr td.pricetag
            text-align: right !important
            padding: 0 8px !important
        
        tr td.countertag
            text-align: right !important
            padding: 0 8px !important