.v-list
    &--user
        padding: 0

        & ^[0]__tile:hover
            background-color: transparent !important

        & ^[0]__tile__content ~ ^[0]__tile__action:not(^[0]__tile__action--stack)
            .v-icon
                cursor: pointer
        
        & ^[0]__tile__action
            .v-icon
                transform: rotate(0deg)
                transition: transform 0.2s linear
            
            &.expand
                .v-icon
                    transform: rotate(180deg)
                    transition: transform 0.2s linear
    
    &--more
        & ^[0]__tile
            padding: 0 24px

            &__action
                min-width: 48px
                
    &--main
        & ^[0]__tile
            padding: 0 24px

            &__action
                min-width: 48px
        
        .v-subheader
            font-size: 11px
            height: 24px
            line-height: 1
            padding: 0 24px