.dialog-move-transition
    &-enter-active, &-leave-active
        transition: 0.18s cubic-bezier(0, 0, 0, 1)
        
    &-enter, &-leave-to
        transform: translateX(100%)

.line-height1
    line-height: 1 !important

.v-application--is-ltr .v-list-item__avatar:first-child
    margin-right: 16px